@font-face {
  font-family: "ProximaNova-Black";

  src: local("ProximaNova-Black"),
    url("https://nomail.com.ua/files/eot/317d5480a545edf076e02aacd21f434f.eot?#iefix")
      format("embedded-opentype"),
    url("https://nomail.com.ua/files/woff/317d5480a545edf076e02aacd21f434f.woff")
      format("woff"),
    url("https://nomail.com.ua/files/woff2/317d5480a545edf076e02aacd21f434f.woff2")
      format("woff2");
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  background: #070506 url(/imgs/main-bg.png) no-repeat top right 90%;
  background-attachment: fixed;
  color: #fff;
  font-family: "Roboto", sans-serif;
}
.container {
  width: 90%;
  margin: auto;
  max-width: 1060px;
}
.header {
  display: flex;
  align-items: center;
  padding-top: 90px;
}
.header__logo {
  margin-right: 70px;
}
.nav__link {
  text-decoration: none;
  color: white;
}
.nav__link:not(:last-child) {
  margin-right: 15px;
}
.hero__subtitle {
  display: block;
  margin-top: 78px;
  font-size: 40px;
  line-height: 100%;
  font-family: "ProximaNova-Black", serif;
}
.hero__title {
  font-size: 64px;
  line-height: 78px;
  margin-top: 5px;
  font-family: "ProximaNova-Black", serif;
  margin-bottom: 25px;
}
.hero__description {
  font-size: 18px;
  line-height: 150%;
  color: #afafaf;
  max-width: 572px;
}
.hero__premier {
  font-size: 18px;
  line-height: 150%;
  display: block;
  color: #b02000;
  margin-bottom: 5px;
}
.hero__date {
  font-size: 24px;
  line-height: 150%;
  display: block;
  margin-bottom: 46px;
}
.button-play {
  position: relative;
  border: none;
  background: linear-gradient(90deg, #fb641a 0%, #fc3309 100%);
  border-radius: 300px;
  color: white;
  padding: 25px 35px;
  padding-right: 78px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  display: inline-block;
}
.button-play:after {
  content: "";
  position: absolute;
  width: 65px;
  height: 65px;
  background: #fff url(/imgs/play.svg) center no-repeat;
  display: block;
  right: 0;
  top: 0;
  border-radius: 50%;
}
.button-play:before {
  content: "";
  width: 80px;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  position: absolute;
  top: -8px;
  right: -8px;
}
.episodes {
  padding: 60px 0;
}
.episodes__title {
  font-size: 18px;
  margin-bottom: 24px;
  line-height: 150%;
}
.slider {
  display: flex;
  flex-wrap: wrap;
}
.slider__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 20px;
  margin-top: 20px;
  padding: 30px;
  width: 250px;
  min-height: 200px;
  box-shadow: 0px 10px 26px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  overflow: hidden;
}
.slider__item:hover {
  background: linear-gradient(
    0deg,
    rgba(64, 101, 255, 0.86),
    rgba(64, 101, 255, 0.86)
  );
}
.slider__item:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(80, 80, 80, 0.86);
  z-index: -1;
  transition: all 0.2s;
}
.slider__image {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -2;
}
.slider__item:hover:before {
  background: rgba(64, 101, 255, 0.86);
}
.slider__rating-label {
  margin-right: 12px;
}
.star {
  display: inline-block;
  width: 12px;
  height: 10.67px;
  background: url(/imgs/star.svg) no-repeat center;
}
.star-o {
  background: url(/imgs/star-o.svg) no-repeat center;
}

.slider__nav--prev {
  width: 32px;
  height: 32px;
  border: none;
  background: transparent url(/imgs/arrow-prev.svg) no-repeat center;
  margin-right: 15px;
  cursor: pointer;
}
.slider__nav--next {
  width: 32px;
  height: 32px;
  border: none;
  background: transparent url(/imgs/arrow-next.svg) no-repeat center;
  cursor: pointer;
}
.slider__nav--prev span,
.slider__nav--next span {
  display: none;
}
@media (max-width: 600px) {
  .hero__title {
    font-size: 36px;
    line-height: 120%;
  }
  .hero__subtitle {
    font-size: 24px;
  }
  .hero__description {
    font-size: 16px;
  }
  .header {
    flex-direction: column;
    align-items: flex-start;
  }
  .header__logo {
    margin-bottom: 30px;
  }
  .nav {
    display: flex;
    flex-direction: column;
  }
  .nav__link {
    margin-left: 10px;
  }
}
